# stats operations

In [6]:
%matplotlib inline
import pandas as pd
from os import listdir
import os
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
from mpl_toolkits.mplot3d import Axes3D

pd.set_option('display.max_rows', 100)

path = 'csv'
prefix = 'stats_test_2048x2048'

columns = ['stat', 'rank', 'size', 'round', 'time_ms']
data = pd.DataFrame(columns=columns + ['method'])
for file in listdir(path):
    if not file.endswith('.csv') or file == 'stats.csv' or not file.startswith(prefix):
        continue
    print(file)
    
    d = pd.read_csv(os.path.join(path, file), names=columns)
    d['method'] = file.replace('.csv', '').split('_')[-1]
    d['image_size'] = int(file.replace('.csv', '').split('_')[-2].split('x')[-1])
    
    data = pd.concat([data, d])
data.reset_index()

for t in ['rank', 'size', 'round', 'time_ms']:
    data[t] = data[t].astype('int')

# skip first run
#data = data[(data['round'] == 0) | (data['stat'].isin(['read', 'write']))]
data['image_size'].unique()

def fix_labels(ax):
    for label in ax.legend().get_texts():
        n = int(float(label.get_text()))
        label.set_text(f"2048x2048x{n}x{n}x{n}")

stats_test_2048x2048x18x18x18_mpi.csv

In [9]:
def by_imagesize(method, stat='total_op'):
    series = {}
    for image_size in sorted(data['image_size'].unique()):
        ds = data[(data['stat'] == stat) & (data['method'] == method) & (data['image_size'] == image_size) & (data['size'] != 7)].pivot_table(index=['size', 'round'], columns='rank', values='time_ms')
        time = defaultdict(list)
        for idx, times in ds.iterrows():
            size, round = idx
            time[size].append(max(times))
        
        averaged = {k: sum(v)/len(v) for k, v in time.items()} 
        series[image_size] = pd.Series(averaged, dtype=np.float64)

    
    df = pd.DataFrame(series).dropna(axis=1,how='all')
    df.index.name = 'size'
    return df

for stat in data['stat'].unique():
    if 'Stats' not in stat:
        continue
    display(data[data['stat'] == stat])

,stat,rank,size,round,time_ms,method,image_size
3,net.imagej.ops.Ops.Stats.GeometricMean,0,1,0,34636,mpi,18.0
68,net.imagej.ops.Ops.Stats.GeometricMean,0,1,1,33318,mpi,18.0
133,net.imagej.ops.Ops.Stats.GeometricMean,0,1,2,33479,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
6,net.imagej.ops.Ops.Stats.HarmonicMean,0,1,0,9619,mpi,18.0
71,net.imagej.ops.Ops.Stats.HarmonicMean,0,1,1,8414,mpi,18.0
136,net.imagej.ops.Ops.Stats.HarmonicMean,0,1,2,8563,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
11,net.imagej.ops.Ops.Stats.Kurtosis,0,1,0,18959,mpi,18.0
76,net.imagej.ops.Ops.Stats.Kurtosis,0,1,1,15195,mpi,18.0
141,net.imagej.ops.Ops.Stats.Kurtosis,0,1,2,15140,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
14,net.imagej.ops.Ops.Stats.Max,0,1,0,5659,mpi,18.0
79,net.imagej.ops.Ops.Stats.Max,0,1,1,5690,mpi,18.0
144,net.imagej.ops.Ops.Stats.Max,0,1,2,4717,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
17,net.imagej.ops.Ops.Stats.Mean,0,1,0,5103,mpi,18.0
82,net.imagej.ops.Ops.Stats.Mean,0,1,1,3910,mpi,18.0
147,net.imagej.ops.Ops.Stats.Mean,0,1,2,3941,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
20,net.imagej.ops.Ops.Stats.Min,0,1,0,5430,mpi,18.0
85,net.imagej.ops.Ops.Stats.Min,0,1,1,5542,mpi,18.0
150,net.imagej.ops.Ops.Stats.Min,0,1,2,4815,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
21,net.imagej.ops.Ops.Stats.MinMax,0,1,0,5482,mpi,18.0
86,net.imagej.ops.Ops.Stats.MinMax,0,1,1,5148,mpi,18.0
151,net.imagej.ops.Ops.Stats.MinMax,0,1,2,3776,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
26,net.imagej.ops.Ops.Stats.Moment1AboutMean,0,1,0,9694,mpi,18.0
91,net.imagej.ops.Ops.Stats.Moment1AboutMean,0,1,1,9682,mpi,18.0
156,net.imagej.ops.Ops.Stats.Moment1AboutMean,0,1,2,7127,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
31,net.imagej.ops.Ops.Stats.Moment2AboutMean,0,1,0,9539,mpi,18.0
96,net.imagej.ops.Ops.Stats.Moment2AboutMean,0,1,1,9889,mpi,18.0
161,net.imagej.ops.Ops.Stats.Moment2AboutMean,0,1,2,8325,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
36,net.imagej.ops.Ops.Stats.Moment3AboutMean,0,1,0,11056,mpi,18.0
101,net.imagej.ops.Ops.Stats.Moment3AboutMean,0,1,1,9996,mpi,18.0
166,net.imagej.ops.Ops.Stats.Moment3AboutMean,0,1,2,10031,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
41,net.imagej.ops.Ops.Stats.Moment4AboutMean,0,1,0,12948,mpi,18.0
106,net.imagej.ops.Ops.Stats.Moment4AboutMean,0,1,1,11830,mpi,18.0
171,net.imagej.ops.Ops.Stats.Moment4AboutMean,0,1,2,12255,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
46,net.imagej.ops.Ops.Stats.Skewness,0,1,0,17306,mpi,18.0
111,net.imagej.ops.Ops.Stats.Skewness,0,1,1,13620,mpi,18.0
176,net.imagej.ops.Ops.Stats.Skewness,0,1,2,13371,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
47,net.imagej.ops.Ops.Stats.StdDev,0,1,0,3353,mpi,18.0
112,net.imagej.ops.Ops.Stats.StdDev,0,1,1,3365,mpi,18.0
177,net.imagej.ops.Ops.Stats.StdDev,0,1,2,3393,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
50,net.imagej.ops.Ops.Stats.Sum,0,1,0,3948,mpi,18.0
115,net.imagej.ops.Ops.Stats.Sum,0,1,1,3947,mpi,18.0
180,net.imagej.ops.Ops.Stats.Sum,0,1,2,3990,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
53,net.imagej.ops.Ops.Stats.SumOfInverses,0,1,0,9529,mpi,18.0
118,net.imagej.ops.Ops.Stats.SumOfInverses,0,1,1,8420,mpi,18.0
183,net.imagej.ops.Ops.Stats.SumOfInverses,0,1,2,8568,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
56,net.imagej.ops.Ops.Stats.SumOfLogs,0,1,0,34767,mpi,18.0
121,net.imagej.ops.Ops.Stats.SumOfLogs,0,1,1,33303,mpi,18.0
186,net.imagej.ops.Ops.Stats.SumOfLogs,0,1,2,33274,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
59,net.imagej.ops.Ops.Stats.SumOfSquares,0,1,0,4774,mpi,18.0
124,net.imagej.ops.Ops.Stats.SumOfSquares,0,1,1,5010,mpi,18.0
189,net.imagej.ops.Ops.Stats.SumOfSquares,0,1,2,3395,mpi,18.0

,stat,rank,size,round,time_ms,method,image_size
64,net.imagej.ops.Ops.Stats.Variance,0,1,0,9982,mpi,18.0
129,net.imagej.ops.Ops.Stats.Variance,0,1,1,9643,mpi,18.0
194,net.imagej.ops.Ops.Stats.Variance,0,1,2,8323,mpi,18.0